{% extends 'base.html' %}
{% load bootstrapify %}
{% load timesheet_tag %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/timesheet/timesheet.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex m-4", style="background: whitesmoke;">
    <div class="mr-2 left-wrapper">
        <div style="float:left;">
              <form method="POST">
                {% csrf_token %}
                {% for field in calenderform %}
                    {{field|bootstrapify_field}}
                    
                {% endfor %}
          
                <input class="btn btn-dark" style="font-size: 15px;" type="submit" value="Select">
              </form>
        </div>
    </div>
    
    <div class="mr-2 justify-content-center" timesheet>
      <div>
        <table class='table table-striped'>
          <thead class='thead-dark'>
            <th> Sum          </th>
            <th> Time worked  </th>
            <th> Overtime     </th>
            <th> Evening      </th>
            <th> Weekend      </th>
            <th> Holiday      </th>
            <th colspan='20'>
          </thead>
          <tbody>
            <tr >
              <td colspan="1"></td>
              <td>{{sum_duration|convert_hours}}</td>
              <td>{{sum_overtime|convert_hours}}</td>
              <td>{{sum_evening|convert_hours}}</td>
              <td>{{sum_weekend|convert_hours}}</td>
              <td>{{sum_holiday|convert_hours}}</td>
              <td colspan="20"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <table class="table table-striped">
          <thead class="thead-dark">
                <tr>
                  <th colspan="4"></th>
                  <th>{{curr_month}}</th>
                  <th>{{curr_year}}</th>
                  <th colspan="8"></th>
                </tr>
              <tr>
                  <th scope="col">Date        </th>
                  <th scope="col">Times       </th>
                  <th scope="col"></th>
                  <th scope="col">Time worked </th>
                  <th scope="col">Overtime    </th>
                  <th scope="col">Evening     </th>
                  <th scope="col">Weekend     </th>
                  <th scope="col">Holiday     </th>
                  <th scope="col">Notes       </th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>

              {% for i in time %}
              {% if i.start_time is not None %}
              <tr>
                  <td> {{i.start_time|date:'d M'}}               </td>
                  <td> {{i.start_time|date:'H:i'}} - {{i.end_time|date:'H:i'}}</td>
                  <td style="text-align: left;"><a class="fa fa-edit" type="button" 
                    style="font-size: small;" data-id_start_time="{{i.start_time|date:'Y-m-d H:i'}}" 
                    data-id_end_time="{{i.end_time|date:'Y-m-d H:i'}}"  
                    data-usrid="{{i.id}}" data-toggle="modal" name='edit_time' 
                    data-target="#editTime"></a></td>                               
                  <td> {{i.time_worked|duration_format}}  </td>
                  <td> {{i.overtime|duration_format}} </td>
                  <td> {{i.evening|duration_format}} </td>
                  <td> {{i.weekend|duration_format}} </td>
                  <td> {{i.holiday|duration_format}} </td>

                  <td> {{i.note}}</td>
                  <td style="text-align: left;"><a class="fa fa-edit" type="button" 
                    style="font-size: small;"  data-id_note="{{i.note}}" 
                    data-usrid="{{i.id}}" data-toggle="modal" name='edit_note'
                    data-target="#editNote"></a></td>
                  </tr>
                  {% endif %}
              {% endfor %}
          </tbody>
          <thead class="thead-dark">
              <tr>
                  <th scope="row">Sum</th>
                  <th colspan='20'></th>
              </tr>
          </thead>
          <tbody>
            <tr >
              <td colspan="3"></td>
              <td>{{sum_duration|convert_hours}}</td>
              <td>{{sum_overtime|convert_hours}}</td>
              <td>{{sum_evening|convert_hours}}</td>
              <td>{{sum_weekend|convert_hours}}</td>
              <td>{{sum_holiday|convert_hours}}</td>
              <td colspan="2"></td>

            </tr>
          </tbody>
      </table>
      </div>
    </div>

    <div class="ml-3 right-wrapper">
      <div style="float: left;">
        {% if messages %}
          {% for error in messages %}
          <div class="alert alert-warning alert-simissible fade show" role="alert">
              {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        </ul>
         {% endif %}
      </div>
    </div> 
</div>


<div class="div-modal">
  <div class="modal fade" id="editNote" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update your note</h4>
        </div>
        <form method="POST" id="editNoteForm">
          {% csrf_token %}
          <div class="modal-body">
            <table class="table table-active">
              {% for field in noteForm.visible_fields %}
                <thead class="thead-dark">
                  <tr>
                    <th>{{ field.label_tag }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> {{field}}</td>
                  </tr>
                </tbody>
              {% endfor %}
            </table>
          </div>
            <div class="modal-footer">
              <button  type="submit" class="btn btn-dark" name='save'>Save</button>
              <button  type="button" class="btn btn-dark" data-dismiss="modal", name='close'>Close</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="div-modal">
  <div class="modal fade" id="editTime" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update {{worker.username}}'s time stamps</h4>
        </div>
        <form method="POST" id="editTimeForm">
          {% csrf_token %}
            <div class="modal-body">
              <table class="table table-active">
              {% for field in timeForm.visible_fields %}
                <thead class="thead-dark">
                  <tr>
                    <th>{{ field.label_tag }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> {{field}}</td>
                  </tr>
                </tbody>
              {% endfor %}
            </table>
            </div>
            <div class="modal-footer">
              <button  type="submit" class="btn btn-dark" name="time_save">Save</button>
              <button  type="button" class="btn btn-dark" data-dismiss="modal" name="time_close">Close</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
  $(function(){
    $("#editNote").on("show.bs.modal", function (e) {
      const button = $(e.relatedTarget);

      const modal = $(this);
      modal.find(".modal-body #id_note").val(button.data("id_note"));
      var id_button = button.data("usrid")
      $("#editNoteForm").attr('action', "/timesheet/edit_note/" +  id_button)
    });
  })
</script>

<script type="text/javascript">
  $(function(){
    $("#editTime").on("show.bs.modal", function (e) {
      const button = $(e.relatedTarget);

      const modal = $(this);
      modal.find(".modal-body #id_start_time").val(button.data("id_start_time"));
      modal.find(".modal-body #id_end_time").val(button.data("id_end_time"));
      var id_button = button.data("usrid")
      $("#editTimeForm").attr('action', "/timesheet/edit_time/" +  id_button)
    });
  })
</script>
{% endblock %}