{% extends "base.html" %}

{% block content %}
<div class="content">
  <ol class="breadcrumb align-items-center mb-4">
    <li class="breadcrumb-item">
      <a href="{% url 'userprofile' %}">Profile</a>
    </li>
    <li class="breadcrumb-item active">Documents</li>
  </ol>

  <div class="wrapper">
    <h3>Your uploaded documents</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Description</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        {% for doc in documents %}
          <tr>
            <td>{{ doc.description }}</td>
            <td>
              <a href="{{ doc.document.url }}" class="btn btn-primary btn-sm">View</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
