{% extends "base.html" %}
{% load bootstrapify %}

{% block header %}
{% include "minimal_header.html" %}
{% endblock header %}

{% block content %}
<div class="content">
  <div class="d-flex justify-content-center">
    <div>
      <h1>Sign in</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors|bootstrapify_errors }}
        {% for field in form %}
        {{ field|bootstrapify_field }}
        {% endfor %}
        <div class="d-flex mt-2">
          <button class="btn btn-primary float-left" type="submit" name="button">Login</button>
          <a class="ml-2 mt-2 float-right text-muted" href="/accounts/password_reset">Forgotten your username or password?</a>
          <a class="ml-2 mt-2 float-right text-muted" href="{% url 'signup' %}">Sign Up</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
