{% extends 'base.html' %}
{% load bootstrapify %}

{% block title %}Change password{% endblock %}

{% block content %}

<div class="content">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'userprofile' %}">{{user}}</a>
      </li>
      <li class="breadcrumb-item active">
        Change password
      </li>
    </ol>
  </nav>
  <div class="d-flex justify-content-center">
    <div>
      <h1>Change password!</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors|bootstrapify_errors }}
        {% for field in form %}
        {{ field|bootstrapify_field }}
        {% endfor %}
        <div class="mt-2">
          <a class="btn btn-secondary" href="{% url 'userprofile' %}">Cancel</a>
          <button class="btn btn-primary" type="submit">Change password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
