{% extends 'base.html' %}
{% load bootstrapify %}

{% block title %}Password reset{% endblock %}

{% block header %}
{% include "minimal_header.html" %}
{% endblock header %}

{% block content%}
<div class="content">
  <div class="d-flex justify-content-center">
    <div>
      {% if validlink %}
      <h1>Set a new password</h1>
      <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors|bootstrapify_errors }}
        {% for field in form %}
        {{ field|bootstrapify_field }}
        {% endfor %}
        <button class="btn btn-primary mt-2" type="submit" name="button">Change password</button>
      </form>
      {% else %}
      <div>
        <h1>Invalid reset link.</h1>
        <p>Please check that the link is correct or request a new <a href="{% url 'password_reset' %}">reset link</a>.</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
