{% extends 'base.html' %}
{% load bootstrapify %}
{% block title %}Password reset{% endblock %}

{% block header %}
{% include "minimal_header.html" %}
{% endblock header %}

{% block content%}
<div class="content">
  <div class="d-flex justify-content-center">
    <div>
      <h1>Password reset</h1>
      <p>Forgotten your username or password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

      <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors|bootstrapify_errors }}
        {% for field in form %}
        {{ field|bootstrapify_field }}
        {% endfor %}
        <button class="btn btn-primary mt-2" type="submit" name="button">Send me instructions</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
