{% extends 'base.html' %}

{% block title %}Password changed{% endblock %}

{% block content%}
<div class="content">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'userprofile' %}">{{user}}</a>
      </li>
      <li class="breadcrumb-item active">
        Change password
      </li>
    </ol>
  </nav>
  <div class="d-flex justify-content-center">
    <div>
      <h1>Password change completed!</h1>
      <p>Your new password has been set.</p>
    </div>
  </div>
</div>
{% endblock %}
