{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} Boards {% endblock %}
{% block content %}
<div class="container">
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'board_home' %}">Boards</a></li>
        <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
        <li class="breadcrumb-item active">New Topic</li>
    </ol>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Post</button>
    </form>
</div>
{% endblock %}