{% load static %}
{% load compress %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% compress css %}
      <link type="text/x-scss" href="{% static 'scss/main.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" /> -->
    {% block stylesheets %}{% endblock %}
    <title>{% block title %} Business-Wall {% endblock %}</title>

  </head>
  <body class="bg-light">
    {% block header %}
    {% include "homepage_header.html" with user=user %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/a7f53c9e07.js" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" crossorigin="anonymous"></script>
    <script id="cookiebanner" src="https://cdnjs.cloudflare.com/ajax/libs/cookie-banner/1.2.2/cookiebanner.min.js" integrity="sha256-yMTd5YyqT/43FMnYHf9OAEsz7SKMIBhxQTO9MvWN6kQ=" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
